# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/

# Ignore image directories
datasets/
checkpoints/*
!checkpoints/*/web/index.html
!checkpoints/*/loss_log.txt
!checkpoints/*/option.txt